@import url(
'https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Salsa&display=swap'
);

:root{
    --h1-font-size: 5em;
    --span-font-size: 1.25em;
    --span-text-align: center;
}

@media screen and (max-width: 800px) {
    :root{
        --h1-font-size: 2em;
        --span-font-size: 1em;
        --span-text-align: center;
    }
}

@media screen and (max-width: 280px) {
    :root{
        --h1-font-size: 1em;
        --span-font-size: 0.5em;
        --span-text-align: center;
    }
}

*, 
::before, 
::after{
    margin: 0;
    color: white;
}

.hero-container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/img/paisaje.jpg') center/cover;
    clip-path: ellipse();
    position: relative;
    
}
.hero-body{
    position: relative;
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.hero-container::before{
    content: "";
    position: absolute;
}

.hero-body::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.7;
}

body {
    background-color: darkslategrey;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.formulario{
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    width: 25%;
    margin:5% 25%;
    padding: 1%;
    background-color: black;
    border-radius: 5px;
    box-shadow: 5% rgb(174, 169, 169);
}
h1{
    font-size: var(--h1-font-size);
}
h2{
    font-size: 3em;
}
span {
    font-size: var(--span-font-size);
    text-align: var(--span-text-align);
}

input, textarea{
    padding: 5%;
    margin: 2%;
    background-color: rgb(174, 169, 169);
}
button, input[type="submit"]{
    background-color: rgb(23, 77, 77);
    width: 25%;
    margin: auto;
    border-radius: 5px;
    padding: 2.5%;
}

li{
    color: red;

}